<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gamer Fix - Items</title>
    <link rel="stylesheet" type="text/css" href="/css/items.css">
</head>

<body>

    <%- include('partials/_header') %>
    
    <main>      
        <section id="item-list">
            <div class="search-bar">
                <form action="/items" method="get">
                    <input type="text" name="search" class="search-input" placeholder="Search items...">
                    <button type="submit" class="search-button">Search</button>
                </form>  
            </div>
            <% items.forEach(function(item) { %>
                <div class="item">
                    <a class="item-link" href="/items/<%= item.id %>">
                        <img src="<%= item.image %>" alt="Item Image">
                        <h3><%= item.title %></h3>
                        <p>Price: $<%= item.price %></p>
                    </a>
                </div>
            <% }); %>
        </section>
    </main>

    <%- include('partials/_footer') %>
    
</body>
</html>
